section.about {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1.5s 1s, opacity 1.5s 1s;
}

section.about.active {
  opacity: 1;
  visibility: visible;
}

section.about>h1 {
  text-align: center;
  font-size: 2rem;
}

section.about>div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

section.about div.tech {
  display: grid;
  grid-template-columns: repeat(5, auto);
  row-gap: 10px;
  justify-items: center;
}

section.about div.stack {
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
}

section.about.active div.stack:nth-child(2n - 1) {
  animation: fadeInDropDown 1.2s ease-out;
}

section.about.active div.stack:nth-child(2n) {
  animation: fadeInDropDown .9s ease-out;
}

section.about.active div.stack:nth-child(3n) {
  animation: fadeInDropDown 1.5s ease-out;
}

section.about img.tech-icon {
  width: 48px;
  height: auto;
}

section.about .tech-label {
  text-align: center;
  margin: 0;
  font-weight: 300;
  font-size: 14px;
}

@keyframes fadeInDropDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    opacity: 100;
    transform: translateY(0);
  }
}

@media (max-width: 800px) {
  section.about p {
    font-size: 1rem;
  }

  section.about>div {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}