footer {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .container {
  margin-inline: auto;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

footer .container span {
  color: white;
  font-weight: 500;
  padding-right: 5px;
}

footer img {
  filter: grayscale(100%) invert();
  -webkit-filter: grayscale(100%) invert();
  width: 40px;
}
