header {
  padding: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 65rem;
  margin-inline: auto;
  background-color: transparent;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a:visited {
  text-decoration: none;
  color: inherit;
}

header nav {
  display: flex;
}

header.menu {
  display: flex;
  flex-direction: column;
}

.menu,
.hidden {
  display: none;
}

@media (max-width: 500px) {
  header {
    padding: 10px 20px;
  }

  header>nav {
    display: none;
  }

  header>.menu {
    display: flex;
    flex-flow: column nowrap;
  }

  .menu li {
    list-style: none;
  }

  .menu ul {
    padding: 0;
    margin: 0;
  }
}