body {
  margin: 0 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-content: center;
  transition: background-color .7s, color .7s;
  color: rgb(42, 42, 42);
}


body.dark {
  background-color: rgb(32, 32, 32);
}

body.dark *,
body.dark p {
  color: rgb(227, 227, 227);
}

body.dark img.tech-icon {
  filter: invert();
}

* {
  scroll-behavior: smooth;
}

p {
  margin: 0;
  font-size: 20px;
}

a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

section {
  padding-bottom: 20px;
}