section.projects .card div.stack {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
  gap: 2px;
}

section.projects .card img.tech-icon.small {
  width: 30px;
  max-height: 30px;
}

section.projects h1 {
  text-align: center;
  font-size: 2rem;
}

section.projects .card-container {
  position: relative;
  display: grid;
  height: 110vh;
  place-items: start center;
  top: 10%;
}

section.projects .card {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  width: 350px;
  box-shadow: 2px 2px 2px 2px grey;
  transition: transform 0.5s ease-out;
}

section.projects .card > a {
  height: 100%;
  display: grid;
  grid-template-rows: min-content;
  align-items: baseline;
  text-decoration: none;
  color: inherit;
}

section.projects .card h3 {
  text-align: center;
  font-size: 1.5rem;
}

section.projects .card > a > img {
  width: 100%;
  border: 1px solid grey;
}

@media (min-width: 1000px) {
  section.projects .card:nth-child(2) {
    transform: translateX(3%) rotate(-5deg);
  }

  section.projects .card:nth-child(3) {
    transform: translateX(-3%) rotate(5deg);
  }

  section.projects .card:nth-child(4) {
    transform: translateX(5%) rotate(7deg);
  }

  section.projects .card:nth-child(5) {
    transform: translateX(-5%) rotate(-7deg);
  }

  section.projects .card:nth-child(6) {
    transform: translateX(7%) rotate(10deg);
  }

  section.projects:hover .card:nth-child(2) {
    transform: translateX(-100%) translateY(-10%) rotate(-5deg);
  }

  section.projects:hover .card:nth-child(3) {
    transform: translateX(100%) rotate(18deg);
  }

  section.projects:hover .card:nth-child(4) {
    transform: translate(0, 100%) rotate(3deg);
  }

  section.projects:hover .card:nth-child(5) {
    transform: translate(100%, 100%) rotate(-5deg);
  }

  section.projects:hover .card:nth-child(6) {
    transform: translate(-100%, 100%) rotate(5deg);
  }

  section.projects:hover .card:nth-child(7) {
    transform: translate(0, 205%) rotate(-5deg);
  }
}

@media (max-width: 1000px) {
  section.projects div.card-container {
    position: static;
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
    height: 100%;
  }

  section.projects div.card-container div.card {
    width: 95%;
    position: static;
  }

  section.projects .card:first-of-type {
    transform: translateX(-100%) rotate(-50deg);
  }

  section.projects .card:nth-of-type(2) {
    transform: translateX(-100%) rotate(30deg);
  }

  section.projects .card:nth-of-type(3) {
    transform: translateX(-100%) rotate(-20deg);
  }

  section.projects .card:nth-of-type(4) {
    transform: translateX(-100%) rotate(-40deg);
  }

  section.projects .card:nth-of-type(5) {
    transform: translateX(-100%) rotate(20deg);
  }

  section.projects .card:nth-of-type(6) {
    transform: translateX(-100%) rotate(-10deg);
  }

  section.projects .card:nth-of-type(7) {
    transform: translateX(-100%) rotate(-5deg);
  }

  section.projects .card.active {
    transform: translateX(0) rotate(0);
  }
}
